@use '@/shared/mixins' as *;

.ElementInput {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__Field {
    width: 100%;
    min-height: 35px;
    padding: 0 6px;
    border: 1px solid #d5d8dd;
    border-radius: 4px;
    border-radius: 4px;
    background-color: #fcfcfd;
    transition: background-color 300ms;
    &:hover {
      background-color: #f5f5f5;
    }
    @include effect-focus;
    @include font-regular(16px);
  }
}
